*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sidebar{
    width:230px;
    height:100vh;
    background:#111827;

    position:fixed;
    top:0;
    left:0;

    display:flex;
    flex-direction:column;

    padding:20px;

    z-index:1000;
}

.logo h2{
    font-size:28px;
    color:#38bdf8;
}

.logo p{
    margin-top:5px;
    color:#94a3b8;
    font-size:14px;
}

.menu{
    list-style:none;
    margin-top:40px;
}

.menu li{
    margin-bottom:10px;
}

.menu a{
    display:block;
    padding:15px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    transition:.3s;
}

.menu a:hover{
    background:#1e293b;
}

.menu a.active{
    background:#2563eb;
}

.logout{
    margin-top:auto;
    padding:15px;
    border-radius:10px;
    background:#dc2626;
    color:white;
    text-align:center;
    cursor:pointer;
}